<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add user</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 mx-auto">
				<h1>Sign-up</h1>
				<form th:object="${signUpForm}" th:action="@{/saveuser}" action="#" method="post">
					<div>
						<label> Username:<input type="text" th:field="*{username}" class="form-control" /></label>
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
					</div>
					<div>
						<label>Email:<input type="text" th:field="*{email}" class="form-control" /></label>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
					</div>
					<div>
						<label> Password:<input type="password" th:field="*{password}" class="form-control" /></label>
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
					</div>
					<div>
						<label> Re-type Password:<input type="password" th:field="*{passwordCheck}"
								class="form-control" /></label>
						<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match
							Error
						</p>
					</div>
					<input type="hidden" th:field="*{role}" value="USER" />

					<a href="/playerlist" class="btn btn-danger">Cancel</a>
					<input type="submit" class="btn btn-primary" value="Signup"></input>

				</form>
			</div>
		</div>
	</div>
</body>

</html>